* {
  margin: 0;
}
.headers {
  padding: 5px;
  text-align: center;
  border-radius: 20px;  
  transition:all 1.5s;
}
.headers:hover {
  color:white;
  background:red;
}
.headers:hover #red_text {
  background: red;
  color: white;
}
#red_text {
  color:red;
  border-radius:20px;
  padding: 5px;
  background: rgba(255, 7, 58, 0.125);
  transition: all 1.5s;
}


.card_box {
  cursor: pointer;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
  transition: box-shadow 1.5s;
  border-radius:20px;
  justify-content: center;
}
.card_box:hover {
  box-shadow: 0 0 32px 3px black;
}



body {
  background-color: #f5f6fa;
}

.app {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin: 1.5vw;
  flex: 0.9;
}

.app__right {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius:20px;
  padding: 20px;
  margin: 1.5vw;
  justify-content: space-between;
}

.app__down {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left : 4vw;
  margin-right : 4vw;
  justify-content: center;

  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app__down {
    flex-direction: column;
  }
  .app__header {
    flex-direction: column;
    margin:20px;
  }
}

.app__stats {
  display: flex; 
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 105%;
  margin-left: -60px; 
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}