.Line_Graph {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    border-radius:20px;
    cursor: pointer;
    max-height: 500px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
    margin: 1.5vw;
  }

  @media (max-width: 990px) {
    .Line_Graph {
      margin: 5vw;
    }
  }